body {
	background-color: var(--background-dark);
	/* height: 300vh; */
	overflow-x: hidden;
}

/* Splash screen */

.splash {
	background: linear-gradient(180deg, var(--background-light) 0%, var(--background-light) 84%, var(--background-dark) 100%);
	height: max(120vh, 1000px)
}

.blur {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	backdrop-filter: blur(5px);
}

.nav-buttons {
	text-align: center;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	left: 0;
	right: 0;
	top: 20px;
	max-width: 750px;
	margin: auto;
}

.nav-buttons a {
	color: var(--text-main);
	margin: auto;
}

#particles, .main-title {
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 90%;
}

.team-buttons {
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: min(80%, 1000px);
	margin-top: 80vh;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.members { /* Buttons */
	justify-self: center;
	align-self: center;
	background-color: var(--accent-dark);
	border: none;
	color: var(--text-main);
	transition: background 100ms ease-out;
	font-size: 13pt;
	font-weight: 300;
	/* border-radius: 15px; */
	width: min(22vw, 250px);
	height: min(10vh, 150px);
	/* padding: 10px; */
	text-align: center;
}

.members:hover,
.members:focus {
	cursor: pointer;
	background-color: var(--accent-bright);
}



/* Team modals */

.modal {
	display: none;
	backdrop-filter: blur(5px);
	background-color: #121016e0;
	margin: min(50px, 5%) auto;
	width: min(90%, 1300px);
	border-style: none;
	border-radius: 5px;
	overflow-x: hidden;
}

.modal-content {
	width: 100%;
	height: 100%;
}

.modal[open] {
	display: block;
	animation: slide-down-modal 250ms ease-out forwards, fade-in 100ms ease-out forwards;
}

.modal[closing] {
	display: block;
	pointer-events: none;
	inset: 0;
	animation: fade-out 100ms ease-out forwards;
}

/* Profile cards */

.modal-content {
	display: grid;
	gap: 10px;
	margin: 10px 10px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
	padding: 20px;
	background-color: var(--background-light);
	width: 300px;
	margin: 0 auto;
	border-radius: 30px;
}

.description {
	margin: 20px 0;
	background-color: var(--background-dark);
	color: var(--text-main);
	padding: 20px 10px;
	border-radius: 10px;
}

.profile-picture {
	width: 80%;
	display: block;
	margin: auto;
	border-radius: 50%;
}

.info {
	color: var(--text-main);
}

.info a {
	color: var(--text-main);
}

.name {
	font-weight: 300;
	font-size: 28pt;
}

/* Main content */

.content {
	color: var(--text-main);
	margin: 10%;
}

.content h2 {
	font-size: 30pt;
	font-weight: 900;
}

.content p {
	line-height: 1.4;
	padding-bottom: 6pt;
}

/* Events */

.event-button {
	background-color: var(--accent-dark);
	border: none;
	width: 100%;
	color: var(--text-main);
	padding: 20px;
	text-align: left;
	transition: background-color 100ms ease-out;
	font-size: 16pt;
	font-weight: 300;
	margin-top: 1rem;
}

.event-button:hover,
.event-button:focus,
.event-button[open] {
	cursor: pointer;
	background-color: var(--accent-bright);
}

.event-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 450ms;
	background-color: var(--background-light);
}

.event-content h1 {
	margin-top: 1rem;
	font-size: 20pt;
}

.event-content ul {
	margin-top: 0.5em;
}

.event-content li {
	margin-bottom: 1em;
	margin-left: 2em;
}

.schedule-button {
	font-size: 14pt;
	margin-top: 10px 0;
}

.event-content table {
	width: 100%;
	border-collapse: collapse;
}

.event-content th, .event-content td {
	padding-left: 10px;
	height: 40px;
}

.event-content th {
	text-align: left;
	font-weight: bold;
}

.event-content tr:nth-child(even) {
	background-color: #12101660;
}

.event-content tr:nth-child(odd) {
	background-color: #12101690;
}

.event-content td a {
	color: var(--text-content);
}

.event-content .timetable button {
	font-size: 12pt;
	color: var(--text-main);
	text-decoration: underline;
	background-color: transparent;
	border: none;
}

.event-content .timetable button:hover {
	cursor: pointer;
}

.event-content .modal {
	box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.4);
	margin-top: 15dvh;
	color: var(--text-main);
	width: min(850px, 80%);
}

.event-content .modal-content {
	display: block;
	margin: 0;
	padding: 50px;
}

.event-content .modal-content h3 {
	font-size: 18pt;
	margin-bottom: 18pt;
	line-height: 1.2;
}

.event-content .modal-content p {
	line-height: 1.7;
}

/* Footer */

.footer {
	display: flex;
	height: 250px;
	background: linear-gradient(var(--background-dark), var(--background-footer) 50%);
}

.footer p {
	margin: 180px auto;
	color: var(--text-footer);
}

.footer a {
	color: var(--text-footer)
}

/* Animations */
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide-down {
	0% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slide-down-modal {
	0% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

@media (min-width: 700px) {

	.content .about p {
		column-count: 2;
	}

	.content h2 {
		font-size: 38pt;
	}
}

@media (max-width: 700px) {
	th {
		display: none;
	}

	td {
		display: block;
		padding: 1rem;
	}

	td:first-child {
		padding-top: 1rem;
	}

	td:last-child {
		padding-bottom: max(3rem, fit-content);
	}

	td::before {
		font-weight: bold;
	}

	td:nth-of-type(1)::before {
		content: 'Time: ';
	}

	td:nth-of-type(2)::before {
		content: 'Speaker: ';
	}

	td:nth-of-type(3)::before {
		content: 'Title: ';
	}
}

/* @media only screen and (min-width: 1920px) {

	.content .about p {
		column-count: 3;
	}
} */